---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.jumbotron {
    background-image: url('https://lh6.googleusercontent.com/-WAEVQWPhbhw/UmBr7dQAoOI/AAAAAAAAApQ/EKmgeWQqQIc/s768-fcrop64=1,0b2f08d3f74cf4f6/bailefondo.jpg');
    margin-bottom: 0;
}

/*CV*/
.date {
    float: right;
    font-weight: bold;
    padding-right: 4px;
}
