---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.jumbotron {
    background-image: url('https://lh6.googleusercontent.com/-WAEVQWPhbhw/UmBr7dQAoOI/AAAAAAAAApQ/EKmgeWQqQIc/s768-fcrop64=1,0b2f08d3f74cf4f6/bailefondo.jpg');
    margin-bottom: 0;
}

.post-meta {
    text-align: right;
}

/*CV*/
.date {
    float: right;
    font-weight: bold;
    padding-right: 4px;
}
.panel-body {
    h1 {
        padding-bottom: 9px;
        border-bottom: 1px solid #1c1e22;
        font-size: 30px;}

    h2 {
        color: #fff;
        background-color: #4f5454;
        padding: 10px 15px;
        margin-bottom: 5px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 22px;}

    h3 {
        font-size: 18px;}

}
