---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/*// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout"
;*/

.jumbotron {
  background-image: url('/images/back.jpg');
  margin-bottom: 0;
}

.box {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/*CV*/
.date {
        float: right;
        font-weight: bold;
}
.organization {
        padding: 0px 10px 1px 0px;
        margin-top: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

        .name {
            background: #eeeeee
    url('http://www.blogblog.com/1kt/awesomeinc/tabs_gradient_light.png') repeat
    scroll 0 0;
            color: #000000;
            border: 1px solid black;
            padding: 8px 15px;
        }
}
