/*Content*/
a:hover {
	text-decoration: underline;
	color: #3778cd;
}
a:link {
	text-decoration: none;
	color: #3778cd;
}
a:visited {
	text-decoration: none;
	color: #4d469c;
}
body {
	font: normal normal 13px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: #4c4c4c;
	background: #ffffff
url('http://themes.googleusercontent.com/image?id=
0BwVBOzw_-hbMMzAxZTkzM2EtZDc5ZS00YzJhLTgwMjAtYzIzNTMwMmZkYTI5') no-repeat fixed
top center;
	padding: 20px 0px;
	margin: 10px auto;
	max-width: 940px;
	min-width: 700px;
}
/*Header*/
header {
	padding: 10px 30px;
	margin: 0px;
	color: #444444;
}
header h1 {
	margin: 0px;
	font-size: 40px;
}
header h2 {
	font-weight: normal;
	font-size: 14px;
}


/*Dropdown Navigation*/
#NavPanel {
	margin: 10px 0px;
	padding: 0px 35px;
	background: #eeeeee url('http://www.blogblog.com/1kt/awesomeinc/tabs_gradient_light.png') repeat scroll 0 0;
	border: #9a9a9a solid 1px;
}
#NavPanel li {
	display: inline-block;
}
#NavPanel li a {
	color: #444444;
	display: block;
	padding: 7px 7px;
	text-decoration: none;
	font: normal bold 14px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}
#NavPanel li a:hover {
	background: #6a6a6a url('http://www.blogblog.com/1kt/awesomeinc/tabs_gradient_light.png') repeat-x scroll 0 -100px;
	color: #ffffff;
}
#NavPanel li:hover ul {
	display: block;
}
#NavPanel li li {
	display: list-item;
	list-style: none;
	background: #eeeeee url('http://www.blogblog.com/1kt/awesomeinc/tabs_gradient_light.png') repeat scroll 0 0;
}
#NavPanel li ul {
	display: none;
	position: absolute;
}
#NavPanel ul {
	margin: 0;
}

/*Main Content*/
#content-inner {
	padding: 0px 15px;
}

#main {
	padding: 0px 15px;
	background: white;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	float: left;
	width: 600px;
	min-height:  500px;
}
#main h1, h3 {
	border-bottom: 1px solid black;
}

/*Footer*/
footer {
	background: rgba(0,0,0,0.5);
	padding: 10px 25px;
	margin-top: 15px;
}

/*Page Specific*/
/*CV*/
.date {
	float: right;
	font-weight: bold;
}
.organization {
	padding: 0px 10px 1px 0px;
	margin: 20px 0px 0px 0px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.organization .name {
	background: #eeeeee url('http://www.blogblog.com/1kt/awesomeinc/tabs_gradient_light.png') repeat scroll 0 0;
	color: #000000;
	border: 1px solid black;
	padding: 8px 15px;
}

section ul {
	list-style-type: square;
}
