body {
	background-image: url('../images/back.jpg');
	background-color: #000000;
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	width: 960px;
}
header{
  width: 560px;
  margin: 0px;
  position: relative;
  left: 230px;
}
nav, #main {
	background-color: #D2FFC3;
	opacity: 0.92;
	margin: 120px 0px 20px 0px;
	padding: 17px;
}

nav{
  float: right;
	border-radius: 10px;
	width: 230px;
}
#main{
	border-radius: 0 10px 10px 0;
	width: 625px;
}
footer {
	width:40%;
	padding: 10px 25px;
}

header li{
  display: inline;
  background-color: #D2FFC3;
  opacity:0.92;
  border-radius: 5px;
  padding: 8px 10px;
  margin: 0px 5px;
  font-weight: bold;
}

h3 {
	border-bottom: 1px solid black;
}

a {
	text-decoration: none;
	color: #383838;
}
.date {
  float:right;
  font-weight: bold;
}

#logo{
  height:190px;
  position:absolute;
	left:30px;
	top: 10px;
	z-index:2;
}
.organization {
  background-color: #88CC70;
  padding: 0px 10px 1px 0px;
  margin: 20px 0px 0px 0px;
}
.organization .name {
	background-color: #75E14E;
	border: 1px solid black;
  padding: 8px 15px;
}
section ul{
  list-style-type: square;
}