a {
	text-decoration: none;
	color: #383838;
}
body {
	background-image: url(background.jpg);
	background-size: 600px;
	background-color: #000000;
	background-position: right top;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
header {
	background-color: #C8C8FF;
	font-family: arial, helvetica, sans-serif;
	border-radius: 0 10px 10px 0;
	width: 40%;
	padding: 20px;
	margin: 50px 0px;
}
li {
	margin: 3px;
	padding: 3px;
	list-style: none;
	font-weight: bold;
}
footer {
	width:40%;
	padding: 30px;
}