<footer class="container">

<h2 class="footer-heading">{{ site.title }}</h2>

  <div class="row">


      <div class="col-sm-12 col-md-4">
        <ul class="contact-list">
          <li>{{ site.owner.name }}</li>
          <li><a href="mailto:{{ site.owner.email }}"><i class="fa fa-envelope"></i> {{ site.owner.email }}</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4">
        <ul class="social-media-list">
          {% if site.owner.github %}
          <li><i class="fa fa-github"></i>
            <a href="https://github.com/{{ site.owner.github }}">
            <span class="username">{{ site.owner.github }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.owner.scholar %}
          <li><i class="fa fa-graduation-cap"></i>
            <a href="http://scholar.google.fr/citations?user={{ site.owner.scholar }}">
            <span class="username">{{ site.owner.name }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.owner.twitter %}
          <li><i class="fa fa-twitter"></i>
            <a href="https://twitter.com/{{ site.owner.twitter }}">
            <span class="username">{{ site.owner.twitter }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.owner.google_plus %}
          <li><i class="fa fa-google-plus-square"></i>
            <a href="https://google.com/{{ site.owner.google_plus }}">
            <span class="username">{{ site.owner.google_plus }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.owner.facebook %}
          <li><i class="fa fa-facebook-square"></i>
            <a href="https://facebook.com/{{ site.owner.facebook }}">
              <span class="username">{{ site.owner.facebook }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.owner.linkedin %}
          <li><i class="fa fa-linkedin-square"></i>
            <a href="https://www.linkedin.com/pub/{{ site.owner.linkedin }}">
              <span class="username">{{ site.owner.name }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-sm-12 col-md-4">
        <p class="text"><i class="fa fa-quote-left fa-2x pull-left"></i>{{ site.description }}</p>
     </div>
    </div>

  </div>

</footer>
